.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: arial;
}
#err {
  color: red;
  font-size: 20px;
}

.h1 {
  margin-left: 1%;
  margin-top: 1%;
}

.container {
  margin-top: 3%;
}

.title {
  color: grey;
  font-size: 18px;
}

button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #3f51b5e7;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover,
a:hover {
  opacity: 0.7;
}

#cancel {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #959595e7;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

#cancel:hover,
a:hover {
  opacity: 0.7;
}

input,
select {
  width: 20%;
  padding: 5px 2px;
  margin: 1px;
  box-sizing: border-box;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
