<h1>Profile page</h1>
<div class="container">
  <div class="card">
    <img
      src="https://www.pngitem.com/pimgs/m/47-475451_transparent-construction-workers-png-transparent-construction-worker-png.png"
      alt="John"
      style="width: 40%"
    />
    <h1>John Doe</h1>
    <p class="title">CEO & Founder, Example</p>
    <p>Harvard University</p>
    <div style="margin: 24px 0">
      <a href="#"><i class="fa fa-dribbble"></i></a>
      <a href="#"><i class="fa fa-twitter"></i></a>
      <a href="#"><i class="fa fa-linkedin"></i></a>
      <a href="#"><i class="fa fa-facebook"></i></a>
    </div>
    <p><button>Edit profile</button></p>
  </div>
</div>
